nav {
  flex-flow: row-reverse;

  * {
    font-size: 20px !important;  // fix problem when mixing text with the theme round toggle
  }

  div, ul, li {
    margin: 0;
  }

  ul, .submenu {
    display: flex !important;
    flex-flow: row-reverse !important;
  }

  .submenu > a {
    cursor: default;
  }

  a, a:hover {
    border: 0 !important;
  }

  li {
    text-indent: 0 !important;
  }

  .submenu {
    > a:before {
      content: "‹";
      margin: 0 .25rem;
    }

    ul.inline {
      margin-top: 0;
    }

    > div.overflow-container > ul {
      visibility: hidden;
      opacity: 0;
      transform: translateX(100%);
      transition: .5s ease-in-out;
    }

    &:hover > div.overflow-container > ul {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
    }
  }

  div.overflow-container {
    overflow: hidden;
  }
}