@use "papercss/dist/paper";

.placeholder {
  display: flex;
  gap: .75em;

  div {
    margin: 0;
  }

  .avatar {
    @extend .background-primary;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
  }

  .name {
    @extend .border;
    @extend .background-primary;
    border-color: transparent;
    width: 5em;
  }
}

.container-exclusive.user {
  $parts: placeholder, lnk-signin, profile;
  @each $p in $parts {
    &.is-#{$p} > :not(.#{$p}) {
      @extend .is-hidden;
    }
  }
}