@use "../mixins" as m;

.my-links {
  height: 50vh;
  overflow-y: auto;

  li {
    text-indent: 0;
  }

  li::before {
    content: none;
  }
}

short-link.filtered {
  @include m.hidden;
}

.count-badge {
  transition: background-color 1s ease-out 0s;

  &.placeholder {
    background-color: var(--muted-light);
  }

  &:not(.filtered) .icon-filtered {
    @include m.hidden;
  }
}
