@use "papercss/src/components/utilities" as spacing;
@import "papercss/src/core/config";
@import "papercss/src/content/fonts";
@import "papercss/src/core/mixins";
@import "papercss/src/components/buttons";
@import "papercss/src/components/forms";
@import "@fortawesome/fontawesome-svg-core/styles";
@import "../../styles/waiting";

@mixin hidden {
  display: none;

  visibility: hidden;
  opacity: 0;
}

@mixin border($style: "primary") {
  @include border-style(1);
  @include color("border-color", $style);
  @include shadow;
  border-style: solid;
  border-width: 2px;
}

@mixin square-button($size) {
  width: $size;
  height: $size;
  padding: 0;
}

@mixin btn-outline($style: "primary") {
  @include color("background-color", main-background);
  @include color("color", $style);
  @include color("border-color", $style);

  &:hover {
    @extend %bg-#{$style}-light;

    &:active {
      @extend %bg-#{$style}-light-darker-10;
    }
  }
}

@mixin btn($style) {
  @include color("color", #{$style}-text);
  @include color("background-color", #{$style}-light);
  @include color("border-color", #{$style});

  &:hover {
    &:active {
      @extend %bg-#{$style}-light-darker-10;
    }
  }
}

/* https://adamsilver.io/blog/buttons-shouldnt-have-a-hand-cursor/ */
button,
label {
  cursor: default !important;
}

:host(.hidden) {
  @include hidden;
}

:host > div {
  display: flex;
  gap: spacing.$small;
  justify-content: flex-end;
  margin-top: spacing.$small;
  padding: spacing.$small;

  outline: none;

  &.removed-item {
    animation: slide-out-left 0.8s cubic-bezier(0.65, -0.02, 0.72, 0.29);
  }
}

:host([action="edit"]) > div {
  @include border("warning");
}

:host([action="delete"]) > div {
  @include border("danger");
}

:host(:not([action])) > div:is(:focus, :focus-visible, :focus-within) {
  @include border;
}

.url {
  font-size: larger;
}

.link-data {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: calc(spacing.$small / 2);
  align-items: flex-start;

  &.editable {
    gap: spacing.$small;
    align-items: stretch;
  }

  .url {
    word-break: break-all;
  }
}

:host(:not([action="edit"])) {
  .link-data.editable {
    @include hidden;
  }
}

:host([action="edit"]) {
  .link-data:not(.editable) {
    @include hidden;
  }
}

button,
[type="button"] {
  margin: 0 !important; // override main theme settings
}

.button-group {
  display: flex;
  gap: spacing.$small;

  button {
    flex-grow: 1;
    align-self: flex-start !important; // override main theme settings for buttons
  }
}

:host(:not([action])) {
  .button-group:has(.btn-confirm) {
    @include hidden;
  }
}

:host([action="edit"]),
:host([action="delete"]) {
  .button-group:has(.btn-action) {
    @include hidden;
  }
}

.origin {
  font-size: smaller;
  word-break: break-all;
}

.btn-action,
.btn-confirm {
  @include square-button(50px);
}

%bg-primary-light {
  background-color: $primary-light;
}

%bg-success-light-darker-10 {
  background-color: darken($success-light, 10%);
}

%bg-primary-light-darker-10 {
  background-color: darken($primary-light, 10%);
}

%bg-danger-light {
  background-color: $danger-light;
}

%bg-danger-light-darker-10 {
  background-color: darken($danger-light, 10%);
}

.btn {
  &-action-edit {
    @include btn-outline;
  }

  &-action-delete {
    @include btn-outline("danger");
  }

  &-confirm-cancel {
    @include btn-outline;
  }

  &-confirm-ok {
    @include btn("success");

    &.failure {
      @include btn("danger");
    }

    &.waiting {
      @include btn-outline;
    }

    $states: success, failure, waiting;

    @each $s in $states {
      &:not(.#{$s}) .ico-#{$s} {
        @include hidden;
      }
      &.#{$s} .ico-default {
        @include hidden;
      }
    }
  }
}

.input-url {
  /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder  -- Vendor CSS */
  @extend input;
  display: flex;

  &:has(input:focus) {
    border-color: var(--secondary);
  }

  input {
    display: inline;
    width: 100%;
    padding: 0;

    border: 0;
  }
}

:host([disabled]) {
  pointer-events: none;

  a {
    background: none;
  }

  a,
  span {
    @include color("color", "primary");
  }
}

:host(.placeholder) {
  user-select: none;

  .btn-action {
    background-color: var(--muted);
    border-color: transparent;

    i {
      @include hidden;
    }
  }

  a,
  button {
    pointer-events: none;
  }

  .url,
  .origin {
    @include border;
    color: transparent;

    background-color: var(--muted-light);
    background-image: none;
    border-color: transparent;
  }
}

@include resp(xsmall) {
  div {
    flex-wrap: wrap;
  }

  .link-data {
    flex-grow: 10000;
  }

  .button-group {
    flex-grow: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-11-4 6:38:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  30% {
    transform: translateX(50px);
    opacity: 1;
  }

  80% {
    transform: translateX(-800px);
    opacity: 1;
  }

  100% {
    transform: translateX(-800px);
    opacity: 0;
  }
}
