@use "papercss/src/components/utilities" as spacing;
@import "papercss/src/core/config";
@import "papercss/src/content/fonts";
@import "papercss/src/core/mixins";
@import "papercss/src/components/buttons";
@import "papercss/src/components/forms";
@import "papercss/src/utilities/borders";
@import "../../styles/waiting";

/* https://adamsilver.io/blog/buttons-shouldnt-have-a-hand-cursor/ */
button, label {
  cursor: default !important;
}

@mixin hidden {
  visibility: hidden;
  opacity: 0;
  display: none;
}

:host(.hidden) {
  @include hidden;
}

:host(.placeholder) {
  user-select: none;
  -webkit-user-select: none;

  .btn-action {
    background-color: var(--muted);
    border-color: transparent;

    i {
      @include hidden;
    }
  }

  a, button {
    pointer-events: none;
  }

  .url, .origin {
    @extend .border;
    background-color: var(--muted-light);
    border-color: transparent;
    color: transparent;
    background-image: none;
  }
}

:host([action="edit"]), :host([action="delete"]) {
  .button-group:has(.btn-action) {
    @include hidden;
  }
}

:host(:not([action])) {
  .button-group:has(.btn-confirm) {
    @include hidden;
  }
}

:host([action="edit"]) {
  li {
    @extend .border, .border-warning;
  }

  .link-data:not(.editable) {
    @include hidden;
  }
}

:host(:not([action="edit"])) {
  .link-data.editable {
    @include hidden;
  }
}

:host([action="delete"]) {
  li {
    @extend .border, .border-danger;
  }
}

li {
  display: flex;
  gap: spacing.$small;
  padding: spacing.$small;
  margin-top: spacing.$small;
  justify-content: flex-end;

  &.removed-item {
    animation: slide-out-left .8s cubic-bezier(.65, -0.02, .72, .29);
  }
}

.link-data {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: calc(spacing.$small / 2);
  align-items: flex-start;

  &.editable {
    gap: spacing.$small;
    align-items: stretch;
  }

  .url {
    word-break: break-all;
  }
}

.button-group {
  display: flex;
  gap: spacing.$small;

  button {
    flex-grow: 1;
    align-self: flex-start !important; // override main theme settings for buttons
  }
}

.url {
  font-size: larger;
}

.origin {
  font-size: smaller;
  word-break: break-all;
}

@mixin square-button($size) {
  width: $size;
  height: $size;
  padding: 0;
}

button, [type=button] {
  margin: 0 !important; // override main theme settings
}

.btn-action, .btn-confirm {
  @include square-button(50px);
}

.btn {
  &-action-edit {
    @extend .btn-primary-outline;
  }

  &-action-delete {
    @extend .btn-danger-outline;
  }

  &-confirm-cancel {
    @extend .btn-primary-outline;
  }

  &-confirm-ok {
    @extend .btn-success;

    &.failure {
      @extend .btn-danger;
    }

    &.waiting {
      @extend .btn-primary-outline;
    }

    $states: success, failure, waiting;
    @each $s in $states {
      &:not(.#{$s}) .ico-#{$s} {
        @include hidden;
      }
      &.#{$s} .ico-default {
        @include hidden;
      }
    }
  }
}

.input-url {
  @extend input;
  display: flex;
  color: var(--muted);

  &:has(input:focus) {
    border-color: var(--secondary);
  }

  input {
    width: 100%;
    display: inline;
    border: 0;
    padding: 0;
  }
}

@include resp(xsmall) {
  li {
    flex-wrap: wrap;
  }
  .link-data {
    flex-grow: 10000;
  }
  .button-group {
    flex-grow: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-11-4 6:38:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(50px);
    opacity: 1;
  }
  80% {
    transform: translateX(-800px);
    opacity: 1;
  }
  100% {
    transform: translateX(-800px);
    opacity: 0;
  }
}
