<li>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="link-data">
    <a data-testid="link-url" class="url"></a>
    <span data-testid="link-origin" class="origin"></span>
  </div>

  <div class="link-data editable">
      <span class="input-url">
        <input type="text" data-testid="backhalf-edit" spellCheck="false" />
      </span>
    <input type="text" data-testid="origin-edit" class="input-origin" />
  </div>

  <div class="button-group">
    <button type="button" data-testid="edit" class="btn-action btn-action-edit">
      <i class="fa fa-pencil fa-lg"></i>
    </button>
    <button type="button" data-testid="delete" class="btn-action btn-action-delete">
      <i class="fa fa-trash fa-lg"></i>
    </button>
  </div>

  <div class="button-group">
    <button type="button" data-testid="cancel" class="btn-confirm btn-confirm-cancel">
      <i class="fa fa-times fa-lg"></i>
    </button>
    <button type="button" data-testid="confirm" class="btn-confirm btn-confirm-ok">
      <i data-testid="ico-confirm" class="fa fa-check fa-lg ico-default"></i>
      <i data-testid="ico-success" class="fa fa-thumbs-up fa-lg ico-success"></i>
      <i data-testid="ico-failure" class="fa fa-thumbs-down fa-lg ico-failure"></i>
      <span data-testid="waiting-dot" class="dot ico-waiting"></span>
    </button>
  </div>
</li>
