<li>
  <div class="data">
    <a data-testid="link-url" class="url"></a>
    <span data-testid="link-origin" class="origin"></span>
  </div>

  <div class="edit">
      <span class="input-url">
        <input type="text" data-testid="input-url" spellCheck="false" />
      </span>
    <input type="text" data-testid="input-origin" class="input-origin" />
  </div>

  <button type="button" data-testid="btn-cancel" class="btn-confirm btn-confirm-cancel">
    <i class="fa fa-times fa-lg"></i>
  </button>

  <button type="button" data-testid="btn-confirm" class="btn-confirm btn-confirm-ok">
    <i data-testid="ico-confirm" class="fa fa-check fa-lg ico-confirm"></i>
    <i data-testid="ico-success" class="fa fa-thumbs-up fa-lg ico-success"></i>
    <i data-testid="ico-failure" class="fa fa-thumbs-down fa-lg ico-failure"></i>
    <span data-testid="waiting-dot" class="dot"></span>
  </button>

  <button type="button" data-testid="btn-edit" class="btn-action btn-action-edit">
    <i class="fa fa-pencil fa-lg"></i>
  </button>

  <button type="button" class="btn-action btn-action-delete">
    <i class="fa fa-trash fa-lg"></i>
  </button>
</li>
