body {
  background-color: var(--main-background);
}

* {
  outline-offset: 5px;
}

:is(a, label):focus-visible {
  outline: solid var(--secondary);

  transition: outline 0s !important;
}

.btn-close:has(i, img, svg) {
  display: inline-block;  // for getting a square outline
}

[aria-hidden="true"] {
  a[href], .btn-close {
    visibility: hidden;
  }
}

[popover-top], [popover-right], [popover-bottom], [popover-left] {
  margin: 0;
}

/* https://adamsilver.io/blog/buttons-shouldnt-have-a-hand-cursor/ */
button, label {
  cursor: default !important;
}

button[disabled] {
  pointer-events: none;
}

.alert {
  width: auto;
  
  .btn-close {
    margin-left: .25rem;
  }
}

ul {
  padding-inline-start: 0;
}

.tabs {

  label {
    color: var(--primary);
  }

  &[role="tablist"] label[aria-selected="true"] {
    border-bottom-color: var(--secondary);
    border-bottom-style: solid;
    border-bottom-width: 3px;
  }

  :not([role="tablist"]) label:hover {
    color: var(--primary);
  }

  form input, input[type="search"] {
    display: revert;  // none by default
  }
}

.alert-state:checked + .dismissible {
  // prevent focus
  visibility: hidden;
}
