body {
  background-color: var(--main-background);
}

[popover-top], [popover-right], [popover-bottom], [popover-left] {
  margin: 0;
}

/* https://adamsilver.io/blog/buttons-shouldnt-have-a-hand-cursor/ */
button, label, .paper-switch-slider {
  cursor: default !important;
}

ul {
  padding-inline-start: 0;
}

.tabs input:not([name="tabs"]) {
  display: revert;  // none by default
}