@use "mixins" as m;

%hidden-right {
  @include m.hidden(true);
  transform: translateX(100%);
}

%reverse-list {
  display: flex !important;
  flex-flow: row-reverse !important;
  align-items: center;
}

.overflow-hidden {
  overflow: hidden;
}

.hidden-scrollbar {
  -ms-overflow-style: none; // IE and Edge
  scrollbar-width: none; // Firefox
  &::-webkit-scrollbar {
    // Chrome, Safari, Opera
    display: none;
  }
}

.collapsable-state {
  display: none !important;
}

.collapsable-state:not(checked) + .collapsable {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.collapsable-state:checked + .collapsable {
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
